<!DOCTYPE html>
<html>
  <head>
    <title>Hey look at that!</title>
  </head>

  <body>
    <center><h1>MY STUFF</h1></center>
    <center><h2>These are items I like</h2></center>
    <center><h3>I particularly like cats.</h3></center>

    <!-- This draws a line across the page! -->
    <hr/>

    <div class="problem">
      <h2 class="problem_title">Say Hello!</h2>
      <button id="say_hello">Hello?</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Houdini</h2>
      <p id="houdini_text">Did Houdini every disappear? I've only ever heard of him in the context of being an escape artist, but beyond that I'm not sure...but anything is possible! I'll go look it up after Bob's Burgers</p>
      <button id="disappear">Disappear</button>
      <button id="reappear">Reappear</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Tickle Me Pink</h2>
      <p id="tickled_text">If you enjoy pink, you are definitely welcome to click the button. Otherwise, you do you!</p>
      <button id="pink">I guess I like pink...</button>
      <button id="not_pink">BUT WHAT IF I DON'T??</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Greet Me</h2>
      <p id="greet_me_text">Good luck!</p>

      <input type="text" id="my_name" />
      <button id="namey">His name is my name toooooo</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Cats</h2>
      <p id="greet_me_text">Cats!</p>
      <button onclick="catty();">More Cats?</button>
    </div>

    <a href="/">Back</a>

    <!-- Now load all the javascript code -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/stuff.js" type="text/javascript"></script>
  </body>
</html>
